@model DTO.Evenement

@{
    ViewBag.Title = "Evenement aanmaken";
}

@{
    int evenementId = new Random().Next();
}
<head>
    <link rel="stylesheet" href="~/css/Aanmaken.css" />
</head>

<form asp-action="Aanmaken" method="post">
    <div class="form-group">
        <label asp-for="Naam">Naam</label>
        <input asp-for="Naam" class="form-control" name="Naam" autocomplete="off" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Datum">Datum</label>
        <input asp-for="Datum" type="date" class="form-control" name="Datum" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaximumAantalBezoekers">Max. aantal bezoekers</label>
        <input asp-for="MaximumAantalBezoekers" class="form-control" name="MaximumAantalBezoekers" autocomplete="off" />
        <span asp-validation-for="MaximumAantalBezoekers" class="text-danger"></span>
        <br />
        <input type="hidden" name="EvenementId" value="@evenementId" />
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>

