@model DTO.Evenement

@{
    ViewBag.Title = "Evenement aanmaken";
}
<head>
    <link rel="stylesheet" href="~/css/Aanmaken.css" />
</head>

<form asp-action="Aanmaken" method="post">
    <div class="form-group">
        <label asp-for="Naam">Naam</label>
        <input asp-for="Naam" class="form-control" name="Naam" autocomplete="off" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Datum">Datum</label>
        <input asp-for="Datum" type="date" class="form-control" name="Datum" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaximumAantalBezoekers">Max. aantal bezoekers</label>
        <input asp-for="MaximumAantalBezoekers" class="form-control" name="MaximumAantalBezoekers" autocomplete="off" />
        <span asp-validation-for="MaximumAantalBezoekers" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        <label>Vakken</label>
        <div id="vakken">
            <!-- Vakken zullen dynamisch hier worden toegevoegd -->
        </div>
        <button type="button" class="btn btn-primary" onclick="voegVakToe()">Voeg vak toe</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>

<script>
    let vakCount = 0;

    function voegVakToe() {
        let vakkenDiv = document.getElementById("vakken");
        let vakDiv = document.createElement("div");

        vakDiv.innerHTML = `
                <h5>Vak ${vakCount + 1}</h5>
                <label for="vak${vakCount}Letter">Letter</label>
                <input name="vakken[${vakCount}].Letter" id="vak${vakCount}Letter" required class="form-control" />
                <label for="vak${vakCount}AantalRijen">Aantal Rijen</label>
                <input name="vakken[${vakCount}].AantalRijen" id="vak${vakCount}AantalRijen" type="number" min="1" max="3" required class="form-control" />
                <label for="vak${vakCount}AantalStoelenPerRij">Aantal Stoelen Per Rij</label>
                <input name="vakken[${vakCount}].AantalStoelenPerRij" id="vak${vakCount}AantalStoelenPerRij" type="number" min="3" max="10" required class="form-control" />
            `;

        vakkenDiv.appendChild(vakDiv);
        vakCount++;
    }
</script>
