@model DTO.Evenement
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/Evenement/" class="nav-link">Organisator</a></li>
        <li class="nav-item"><a href="/Registratie" class="nav-link active" aria-current="page">Aanmelden</a></li>
    </ul>
</header>
<h2>@Model.Naam</h2>

<form action="/Registratie/Registreren" method="post">
    <input type="hidden" name="Evenement_ID" value="@Model.ID" />
    <label for="Naam">Naam:</label>
    <input type="text" id="Naam" name="Naam" autocomplete="off" required />
    <label for="Geboortedatum">Geboortedatum:</label>
    <input type="date" id="Geboortedatum" name="Geboortedatum" required />
    <input type="submit" value="Registreren" />
</form>

<form action="/Registratie/RegistrerenGroep" method="post">
    <input type="hidden" name="Evenement_ID" value="@Model.ID" />

    <h3>Voer bezoekers in:</h3>
    <div id="bezoekers">
        <div class="bezoeker">
            <label for="Naam">Naam:</label>
            <input type="text" name="bezoekers[0].Naam" autocomplete="off" required />
            <label for="Geboortedatum">Geboortedatum:</label>
            <input type="date" name="bezoekers[0].Geboortedatum" required />
        </div>
    </div>

    <button type="button" id="addBezoeker">Voeg bezoeker toe</button>
    <input type="submit" value="Groep registreren" />
</form>

<script>
    let bezoekerIndex = 1;

    document.getElementById('addBezoeker').addEventListener('click', function () {
        let bezoekersDiv = document.getElementById('bezoekers');
        let newBezoekerDiv = document.createElement('div');

        newBezoekerDiv.innerHTML = `
                    <div class="bezoeker">
                        <label for="Naam">Naam:</label>
                        <input type="text" name="bezoekers[${bezoekerIndex}].Naam" required />
                        <label for="Geboortedatum">Geboortedatum:</label>
                        <input type="date" name="bezoekers[${bezoekerIndex}].Geboortedatum" required />
                    </div>
                `;

        bezoekersDiv.appendChild(newBezoekerDiv);
        bezoekerIndex++;
    });
</script>